* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #ffe7d1;
  color: #4968b8;
}

/* HEADER */
header {
  text-align: center;
  background-color: #f7f8fa;
  color: #4682b4;
  padding: 30px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

header h1 {
  font-family: 'lucida handwriting';
  font-size: 50px;
  margin-bottom: 10px;
}

/* NAV */
nav {
  background-color: #5599c8;
  text-align: center;
  padding: 15px 0;
}

.nav-links {
  list-style: none;
  display: inline-flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #3d2c7a;
}

/* MAIN */
main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 40px 10%;
  flex-wrap: wrap;
  gap: 30px;
}

/* KIRI: ARTIKEL */
.content-left {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

article {
  background: #d5f6fb;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.about { border-left: 10px solid white; }
.hobby { border-left: 20px solid #b2d1fd; }
.contact { border-left: 30px solid #99c1f8; }
.message { border-left: 40px solid #81b6ff; }

/* ASIDE */
aside.hero {
  flex: 1;
  background: #a8f3ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
}

.image img {
  width: 250px;
  height: 300px;
  border-radius: 0%;
  border: 5px solid #182f6d;
  object-fit: cover;
  margin-bottom: 20px;
}

aside .content {
  text-align: center;
  margin-top: 20px;
}

aside .highlight {
  color: #182f6d;
}

.btn {
  background: #182f6d;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 15px;
}

.social-icons a {
  color: #3349c5;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s;
  text-decoration: none;
}

.social-icons a:hover {
  color: #0c294e;
}

/* LIST STYLE */
.hobby-list,
.contact-list {
  list-style: none;
  margin-top: 15px;
  padding: 0;
}

.hobby-list li,
.contact-list li {
  background: #96c5d7;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  margin: 10px 0;
}

/* FORM SHARED STYLE */
.contact form,
.message form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.contact label,
.message label {
  font-weight: bold;
  color: #183080;
  display: block;
  margin-top: 10px;
}

.contact input[type="text"],
.contact textarea,
.message input[type="text"],
.message textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
  background-color:#96c5d7;
  resize: vertical;
}

.message h2 {
  margin-bottom: 15px;
  color: #4682b4;
}

.contact button[type="submit"],
.message button {
  background-color: #183080;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px;
}

.contact button:hover,
.message button:hover {
  background-color: #432c6f;
}

::placeholder {
  color: #ffffff;
  opacity: 1;
}

/* FOOTER */
footer {
  background:#2f7ab8;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  color: white;
}

.result-page {
  background-color: #d5f6fb;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.result-box {
  background: white;
  border-left: 30px solid #487880ff;
  border-right: 30px solid #487880ff;
  padding: 90px;
  border-radius: 40px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 15px rgba(49, 7, 128, 1);
}

.result-box h2 {
  color: #487880ff;
  margin-bottom: 30px;
}

.result-box p {
  margin: 10px 0;
}

.result-box a.button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #39cde4ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.result-box a.button:hover {
  background-color: #32b5cc;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .content-left,
  aside.hero {
    width: 100%;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}